
.icon-mic:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-fire:before { content: '\e802'; } /* '' */
.icon-tags:before { content: '\e803'; } /* '' */
.icon-th-large:before { content: '\e804'; } /* '' */
.icon-adjust:before { content: '\e805'; } /* '' */
.icon-tape:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */