@import "../variables";

.pageHeading {
	grid-column-start: 1;
	grid-column-end: 5;
	background-color: $primaryColor;
	background: $gradientColor;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
	display: inline-block;
}