@import "../variables";

.trackList {
	list-style: none;
	padding: 0;
	&__item:not(:last-of-type) {
		margin-bottom: 1rem;
	}
	&__item {
		cursor: pointer;
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 5fr 1fr;
		.item__title {
			font-weight: 700;
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
			max-width: 240px;
			text-overflow: ellipsis;

		}
		.item__artist, .item__duration {
			font-weight: 200;
			margin: 0;
		}
		.item__playBtn {
			background: $gradientColor;
			display: inline-block;
			color: white;
			border-radius: 50%;
			width: 1.8rem;
			height: 1.8rem;
			text-align: center;
		}
	}
}