@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

$fontFamily: "Poppins", Helvetica, Arial, Verdana, sans-serif;

$primaryColor: hsl(338, 100%, 53%);
$secondaryColor: hsl(307, 35%, 15%);
$gradientColor: linear-gradient(90deg, hsl(331, 93%, 48%), hsl(25, 100%, 50%));